<template id="" name="walletWithdrawal">
  <div class="container">
    <div class="jumbotron">
      <h3 class="page-header text-center">Retirar Efectivo Digital</h3>

      <div class="content">
        <div class="container">
          <div class="form-group">
            <label>Titular</label>
            <input type="text" id="holder" class="form-control">
          </div>

          <div class="form-group">
            <label>Cédula o RIF</label>
            <input type="text" id="identification" class="form-control">
          </div>

          <div class="form-group">
            <label>Número de cuenta</label>
            <input type="number" id="account" class="form-control">
          </div>

          <div class="form-group">
            <label>Monto</label>
            <input type="number" id="amount" class="form-control">
          </div>

          <hr>

          <div class="text-center">
            <a href="#" id="createWithdrawal" class="btn btn-primary col-xs-12">Retirar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
