<template name="index">
  <div class="container">
    <div class="">
      <div class="" style=" position: absolute; top: 40%; width: 92%; height: auto;">
        <div class="row">
          <div class="text-center">
            <img src="img/logo.svg" alt="" />
          </div>
          <br>
          {{#if currentUser}}
            <div class="col-xs-12">
              <a href="/wallet/operations" class="btn btn-success col-xs-12">Operaciones</a>
            </div>
          {{else}}
            <div class="col-xs-12 text-center" style="margin:0 auto 0 auto;">
              <a href="/users/login" class="btn btn-success col-xs-12">Entrar</a>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>
