<template id="" name="walletOperations">
  <div class="container">
    <div class="jumbotron">
      <div class="text-center">
        <img src="../img/logo.svg" alt="" />
      </div>
      <br>
      <h3 class="page-header text-center">Operaciones</h3>
      <div class="content">
        <div class="row">
          <div class="col-xs-6 col-md-6">
            <a href="/wallet/send" class="btn btn-success col-xs-12">Enviar</a>
          </div>

          <div class="col-xs-6 col-md-6">
            <a href="/wallet/receive" class="btn btn-primary col-xs-12">Recibir</a>
          </div>

          <br><br>

          <div class="col-xs-6 col-md-6">
            <a href="/wallet/tickets/new" class="btn btn-primary col-xs-12">Crear Ticket</a>
          </div>

          <div class="col-xs-6 col-md-6">
            <a href="/wallet/check" class="btn btn-success col-xs-12">Consultar</a>
          </div>

          <br><br>

          <div class="col-xs-6 col-md-6">
            <a href="/wallet/deposit" class="btn btn-warning col-xs-12">Depositar</a>
          </div>

          <div class="col-xs-6 col-md-6">
            <a href="/wallet/withdrawal" class="btn btn-danger col-xs-12">Retirar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
